body {
    background-color: #6495ed;
    color: #080808;
}
.mainobj {
    position: fixed;
    top: 12%;
    left: 0px;
    width: 100%;
    height: 88%;
    background-color: #e6e6fa;
}
.c-title {
    font-size: 34px;
    font-weight: bold;
}
.c-subtitle {
    font-size: 24px;
}

.p-title {
    text-align: center;
    background-color: #e6e6fa;
    font: #363636;
    margin-left: auto;
    margin-right: auto;
}

.p-metanotecolor {
    color: #080808;
    background: #6495ed;
}

.p-selectcolor1 {
    background: #daddfc;
    font-weight: bold;
}

.p-selectcolor2 {
    background: #e6e6fa;
    font-weight: bold;
}

.p-index__header_icon {
    background: #FFF;
}


.p-link2home {
    color: #406882;
}

.p-link2about {
    color: #6998AB;
}

.p-loginbutton {
    width: 8rem;
    margin-right: 0.3rem;
    font-weight: bold;
    color: #004400;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 10px;
    transition: 0.4s;
}

.p-newbutton {
    width: 8rem;
    margin-left: 0.3rem;
    font-weight: bold;
    color: #ff0000;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 10px;
    transition: 0.4s;
}

.p-lastinfo {
    text-align: center;
    font-weight: bold;
}

.p-main_image {
    width: 10rem;
    height: 10rem;
    background-color: #e6e6fa;
    margin: auto;
}


.p-main_container {
    align-items: center;
}


.p-img_wrapper {
    width: 12rem;
    height: 12rem;
    margin: auto;
}


.p-img_card {
    background: none;
    width: 10rem;
    height: 10rem;
    padding: 0;
    margin: auto;
    text-align: center;
}


.p-noscript {
    text-align: center;
    background-color: #404ff0;
    color: #ff4500;
}


.u-margin_zero {
    margin: 0;
}

.arrows {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
}

@media screen and (min-width:481px) {
    .arrows {
        right: 25px;
        height: 100px;
        background-color: #e6e6fa;
    }
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}


.firstPage {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #e6e6fa;
}

.welcomemsg {
    margin: 0;
    position: absolute;
    top: 16%;
    width: 100%;
    text-align: center;
    line-height: 1;
}

.next {
    top: 120%;
    background-color: #e6e6fa;
}
.container {
    max-width: 960px;
}

@media screen and (max-width:480px) {
    .next {
        top: 140%;
    }
}
a {
    color: #00ff00;
    position: relative;
    display: inline-block;
    transition: .3s;
}

    a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 0;
        height: 2px;
        background-color: #31aae2;
        transition: .3s;
        transform: translateX(-50%);
    }

    a:hover::after {
        width: 100%;
    }

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.navbar-toggler {
    border-color: #ed1a3d
}

.navbar-toggler-icon::before {
    background-color: #ed1a3d
}

.navbar-brand {
    margin-left: 2rem;
    font-family: 'Comfortaa',cursive
}

@media (min-width:992px) {
    .navbar-nav {
        position: absolute;
        right: 3rem
    }
}

.p-index__nav_item {
    color: #ed1a3d;
    font-weight: 700;
    margin-left: 44px
}

.p-index__header_icon {
    background: #FFF
}

.navbar-toggler {
    border-color: #000000;
}

.navbar-toggler-icon::before {
    background-color: #000000;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.textalignleft {
    text-align: left;
}